<!doctype html>
<html lang="en">      
    
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>ADD Employees</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Hospital GO</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
   
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
         <li class="nav-item active">
         <a class="nav-link" href="http://127.0.0.1:5000/indexLoged">Home <span class="sr-only">(current)</span></a>
         </li>
         <li class="nav-item">
         <a class="nav-link" href="http://127.0.0.1:5000/addPatient">Add New Patient</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:5000/addEmp">Add New Employee</a>
            </li>
         <li class="nav-item">
         <a class="nav-link" href="http://127.0.0.1:5000/viewPatient">View Patients</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:5000/viewEmp">View Employees</a>
            </li>
         <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            About us
         </a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="http://127.0.0.1:5000/teamMembers">Team members</a>
            <a class="dropdown-item" href="http://127.0.0.1:5000/contactUs">Contact us</a>
            <div class="dropdown-divider"></div>
         </div>
         </li>
         <li class="nav-item">
         <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
         </li>
      </ul>
         
      </div>
    </nav>
    <div class="bg-image" 
            style="background-image: url('https://cdn.hipwallpaper.com/i/48/96/xepk6D.jpg');
            height: 100vh">
    <div class="container">
        
      <h1>Here We are</h1>
      <form action="http://localhost:5000/addEmp" method="POST">
        <div class="form-group">
          <label for="exampleInputEmail1">Employee name</label>
          <input name="name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your name">
          <small id="emailHelp" class="form-text text-muted">We'll never share your data with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="deptinput">Mail</label>
          <input name= "mail" type="text" class="form-control" id="deptinput" aria-describedby="emailHelp" placeholder="Enter your mail">
        </div>
        <div class="form-group">
         <label for="deptinput">Password</label>
         <input name= "password" type="text" class="form-control" id="deptinput" aria-describedby="emailHelp" placeholder="Enter your password">
       </div>
        <div class="form-group">
          <label for="idinput">Employee ID</label>
          <input name="id" type="number" class="form-control" id="idinput" placeholder="Your ID">
        </div>
        <div class="form-group">
         <label for="deptinput">Authority</label><br>
         <input type="radio" id="idinput" name="authority" value="admin">
          <label for="male">Admin</label><br>
          <input type="radio" id="idinput" name="authority" value="non-admin">
          <label for="female">Non-Admin</label><br>
       </div>
      
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      {% if succ %}
          <div class="alert alert-success" role="alert">
            {{ succ }}
          </div>
          {% endif %}
          {% if err %}
          <div class="alert alert-danger" role="alert">
            {{ err }}
          </div>
          {% endif %}

    </div>
    </div>
    

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
  </html>